.root{
   -fx-background-image: url('./images/menu_bg.png');
   -fx-background-size: cover;
}

#gameTitle .text{
    -fx-stroke: black;
    -fx-stroke-width: 2;
}



#gameTitle {
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 100%, yellow 0%, red 100%);
    -fx-font-size: 50pt;
    -fx-font-family: sans-serif;
    -fx-padding: 30 0 30 0;
}
.button{
    -fx-pref-width: 300px;
    -fx-font-size: 20pt;
    -fx-font-family: sans-serif;
    -fx-background-radius: 30,30,30,30;
}

.button:hover{
    -fx-pref-width: 400px;
}

#startButton:hover{
    -fx-background-color: blue;
}

#highscoreButton:hover{
    -fx-background-color: green;
}

#quitButton:hover{
    -fx-background-color: red;
}

#startButton {
    -fx-graphic: url('./images/start.png');
}

#highscoreButton {
    -fx-graphic: url('./images/highscores.png');
}

#quitButton {
    -fx-background-color: #eb3467;
    -fx-graphic: url('./images/quit.png');
}